@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primaryGreen: #2ecc71;        /* Verde */
  --color-secondaryColor: #2c3e50;      /* Grafite */
  --color-alertColor: #f1c40f;          /* Âmbar */
  --color-alertError: #e74c3c;          /* Vermelho */
  --color-alertSucess: #27ae60;         /* Verde escuro */
  --color-fundoEscuro: #1e272e;         /* Azul Marinho Escuro */
  --color-backgroundClaro: #f5f6fa;     /* Cinza Claro */
  --color-textClaro: #333333;           /* Cinza Escuro */
}




