@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
}
@theme inline {
  --color-primaryGreen: #2ECC71;        /* Verde */
  --color-secondaryColor: #2C3E50;      /* Grafite */
  --color-alertColor: #F1C40F;          /* Âmbar */
  --color-alertError: #E74C3C;          /* Vermelho */
  --color-alertSucess: #27AE60;         /* Verde escuro */
  --color-fundoEscuro: #1E272E;         /* Azul Marinho Escuro */
  --color-backgroundClaro: #F5F6FA;     /* Cinza Claro */
  --color-textClaro: #333333;           /* Cinza Escuro */
}